#base {
    -fx-min-width: 500;
    -fx-min-height: 500;
    -fx-background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Background-Images-21.png");

    -fx-background-size: cover, auto;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-size: 28;
    -fx-text-alignment: center;
    -fx-alignment: center;

    -fx-text-fill: papayawhip;
}

#centered {
    -fx-alignment: center;
}

#separator {
    -fx-background-color: transparent;
}
