#picture {
    -fx-fill-width: 400;
    -fx-fill-height: 400;
    -fx-pref-height: 500;
    -fx-pref-width: 500;
}

#grid {
    -fx-alignment: center;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 15;
    -fx-hgap: 12;
    -fx-vgap: 12;
    -fx-text-fill: rgba(0,0,0,0.75);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

#status {
    -fx-background-color: transparent;
    -fx-background-insets:  -2, 0, 1, 4,5,6;
    -fx-padding: 15;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-cursor: pointer;
    -fx-text-alignment: center;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

#letter{
    -fx-background-color: transparent;
    -fx-background-insets:  -2, 0, 1, 4,5,6;
    -fx-padding: 15;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-hgap: 12;
    -fx-vgap: 12;
    -fx-border-radius: 6px;
    -fx-cursor: pointer;
    -fx-text-alignment: center;
}

#letter:hover {
    -fx-background-color: papayawhip;
}

#delete-button {
    -fx-background-image: url("https://dragonenglish.ru/images/new-style/strelka-inv.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-fill-height: 10;
    -fx-fill-width: 20;
    -fx-background-size: cover, auto;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 28;
    -fx-padding: 15;
}